<div class="right-content">
  <div class="header">
    <h2>Products</h2>
  </div>
  <div>
    <div class="card">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quasi blanditiis possimus asperiores labore iste, ullam beatae sint a maxime repellat maiores pariatur impedit consequatur libero ipsum eveniet quas officia?</p>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="ui-uat-ext-steps">
        <div class="ui-uat-ext-step ui-uat-ext-table-header">
          <div class="ui-uat-ext-step-description border-none width-40">Name</div>
          <div class="ui-uat-ext-step-expectedResults">Description</div>
          <div class="ui-uat-ext-step-more"></div>
        </div>
        <div class="ui-uat-ext-step" *ngFor="let product of products; index as i">
          <div class="ui-uat-ext-step-expectedResults border-none width-40">{{product.name}}</div>
          <div class="ui-uat-ext-step-description">{{product.description}}</div>
          <div class="ui-uat-ext-step-more">
            <app-more-button-menu [actions]="actions" (onAction)="onAction($event, product.productId)" class="flex justify-center">
            </app-more-button-menu>
          </div>
        </div>
        <div class="ui-uat-ext-step no-pointer-events" *ngIf="products.length==0">
          <div class="ui-uat-ext-step-expectedResults border-none width-full">No products found</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center btn-link-group">
    <div class="btn-group">
      <button (click)="toggleCreateModal()">Add product</button>
    </div>
  </div>
</div>

<app-modal *ngIf="createModalOn" (closeModal)="cancel()"  [propClass]="'width-full'">
  <app-create-product
    (cancel)="cancel()"
    (onProductSaved)="onProductSaved()"
    [productToEdit]="productToEdit">
  </app-create-product>
</app-modal>

<app-modal *ngIf="deleteModalOn" (closeModal)="toggleDeleteModal()" >
  <app-delete-product
    (cancel)="toggleDeleteModal()"
    (onProductDeleted)="onProductDeleted()"
    [productToDelete]="productToDelete">
  </app-delete-product>
</app-modal>
