<div class="right-content">
  <div class="header">
    <h2>Products</h2>
  </div>
  <div>
    <div class="card">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quasi blanditiis possimus asperiores labore iste, ullam beatae sint a maxime repellat maiores pariatur impedit consequatur libero ipsum eveniet quas officia?</p>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="ui-uat-ext-steps">
        <div class="ui-uat-ext-step ui-uat-ext-table-header">
          <div class="ui-uat-ext-step-description border-none width-40">Name</div>
          <div class="ui-uat-ext-step-expectedResults">Description</div>
        </div>
        <div class="ui-uat-ext-step" *ngFor="let product of products; index as i">
          <div class="ui-uat-ext-step-expectedResults border-none width-40">{{product.name}}</div>
          <div class="ui-uat-ext-step-description">{{product.description}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center btn-link-group">
    <div class="btn-group">
      <button (click)="toggleCreateModal()">Add product</button>
    </div>
  </div>
</div>
<app-modal *ngIf="createModalOn" (closeModal)="toggleCreateModal()"  [propClass]="'width-full'">
  <app-create-product
    (cancel)="toggleCreateModal()"
    (onProductSaved)="onProductSaved()"
    [productToEdit]="productToEdit">
  </app-create-product>
</app-modal>
<!-- <app-modal *ngIf="isFoldersModalOn" (closeModal)="toggleFoldersModal()"  [propClass]="'width-full'">
  <h3>Choose folder to move</h3>
  <app-directories [chooseFolder]="true"></app-directories>
</app-modal>

<app-modal *ngIf="deleteModalOn" (closeModal)="toggleDeleteModal()" >
  <h3>Delete test case</h3>
  <div class="btn-group">
    <button class=""  data-listener="off" (click)="onDeleteTestCase()"  >
        <span>Delete</span>
    </button>
    <button class="btn-danger"  data-listener="off" (click)="toggleDeleteModal()">
        <span>Cancel</span>
    </button>
</div>
</app-modal> -->
