<div class="main-container">
  <div class="left-container dark-mode">
    <div class="left-top-navigation">
      <ul>
        <li (click)="onNavigationClick('project')" [ngClass]="{'active': activeNavElement == 'project'}">Projects</li>
        <li (click)="onNavigationClick('browsers')" [ngClass]="{'active': activeNavElement == 'browsers'}">Browsers</li>
        <li (click)="onNavigationClick('devices')" [ngClass]="{'active': activeNavElement == 'devices'}">Devices</li>
        <li (click)="onNavigationClick('environments')" [ngClass]="{'active': activeNavElement == 'environments'}">Environments</li>
        <li (click)="onNavigationClick('users')" [ngClass]="{'active': activeNavElement == 'users'}">Users</li>
        <li (click)="onNavigationClick('account')" [ngClass]="{'active': activeNavElement == 'account'}">Account</li>
      </ul>
    </div>
  </div>
  <div class="right-container">
    <router-outlet></router-outlet>
  </div>
</div>
