<div class="folder-tree">
  <div class="folder-name">
    <span class="folder-svg cursor-pointer" [ngClass]="{'expand': expand}" (click)="toggleFolder()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#17b546" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"/></svg>
    </span>
    <div class="folder-settings">
      <span class="folder-name cursor-pointer" [ngClass]="{'expand': expand}" (click)="toggleFolder()">{{directory.name}}</span>
      <app-more-button-menu [actions]="actions" (onAction)="onAction($event)"></app-more-button-menu>
    </div>
  </div>
  <div class="sub-folders" *ngIf="expand">
    <app-directory *ngFor="let dir of directory.childDirectories; index as i" [directory]="dir" [folderType]="folderType"></app-directory>
    <app-test-case *ngFor="let testCase of directory.testCases; index as i" [testCase]="testCase" [folderType]="folderType"></app-test-case>
  </div>
</div>
<app-modal *ngIf="isModalOn" (closeModal)="onCreateCancel()">
  <app-create-directory (cancel)="onCreateCancel()" (onDirectorySaved)="onDirectorySaved()"
    [projectId]="projectId"
    [parentDirectoryId]="parentDirectoryId"
    [directoryToEdit]="directoryToEdit"></app-create-directory>
</app-modal>
<app-modal *ngIf="isDeleteModalOn" (closeModal)="toggleDeleteModal()" >
  <h3>Delete folder</h3>
  <div class="btn-group">
    <button class=""  data-listener="off" (click)="deleteFolder()"  >
        <span>Delete</span>
    </button>
    <button class="btn-danger"  data-listener="off" (click)="toggleDeleteModal()">
        <span>Cancel</span>
    </button>
</div>
</app-modal>
<app-modal *ngIf="isCantDeleteModalOn" (closeModal)="toggleCantDeleteModal()" >
  <h3>Can't Delete folder</h3>
  <p>Folder is not empty</p>
  <div class="btn-group">
    <button class=""  data-listener="off" (click)="toggleCantDeleteModal()">
        <span>Ok</span>
    </button>
</div>
</app-modal>
