<div class="right-content">
  <div class="header">
    <h2>Test case / Dashboard</h2>
  </div>
  <div class="flex no-wrap">
    <div class="card width">
      <app-search-test-case (testCaseEmit)="onTestCaseFound($event)"></app-search-test-case>
    </div>
  </div>
  <div class="card">
    <h3>Test case</h3>
    <ul>
      <li>Total cases ....  20</li>
      <li>Executed times ....  200</li>
      <li>Total steps ....  200</li>
      <li>Average execution time</li>
      <li>Recent executed</li>
      <li>Most executed</li>
      <li>Total failed steps</li>
    </ul>
  </div>
</div>

