<div >
  <div class="spacer-1"></div>
  <h3>New project</h3>
  <div class="spacer-1"></div>
  <div class="width-full">
    <form [formGroup]="loginForm" novalidate #form autocomplete="off">
      <div class="form-container">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="form-error-message">
          <div *ngIf="name.errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="name.errors?.['minLength']">
            Min length 2 charachters
          </div>
        </div>
      </div>
    </form>
    <div class="spacer-1"></div>
    <div class="btn-group">
      <button class="" data-listener="off" (click)="onSubmit()">
        <span>Submit</span>
      </button>
      <button class="btn-danger" data-listener="off" (click)="onCancel()">
        <span>Cancel</span>
      </button>
    </div>
  </div>
</div>
