
<div>
  <div class="card">
    <!-- <h3>Versions</h3> -->
    <div class="ui-uat-ext-steps">
      <div class="ui-uat-ext-step ui-uat-ext-table-header">
        <div class="ui-uat-ext-step-description border-none width-full">Version</div>
        <div class="ui-uat-ext-step-more"></div>
      </div>
      <div class="ui-uat-ext-step" *ngFor="let version of versions; index as i">
        <div class="ui-uat-ext-step-expectedResults border-none width-full">{{version.name}}</div>
        <div class="ui-uat-ext-step-more">
          <app-more-button-menu [actions]="actions" (onAction)="onAction($event, version.versionId)" class="flex justify-center">
          </app-more-button-menu>
        </div>
      </div>
      <div class="ui-uat-ext-step no-pointer-events" *ngIf="versions.length==0">
        <div class="ui-uat-ext-step-expectedResults border-none width-full">No versions found</div>
      </div>
    </div>
    <div class="flex justify-between items-center btn-link-group">
      <div class="btn-group">
        <button (click)="toggleCreateModal()">Add version</button>
      </div>
    </div>
  </div>
</div>
<app-modal *ngIf="createModalOn" (closeModal)="cancel()"  [propClass]="'width-full'">
  <app-create-version
    (cancel)="cancel()"
    (onVersionSaved)="onVersionSaved()"
    [versionToEdit]="versionToEdit"
    [productId]="product.productId">
  </app-create-version>
</app-modal>

<app-modal *ngIf="deleteModalOn" (closeModal)="toggleDeleteModal()" >
  <app-delete-version
    (cancel)="toggleDeleteModal()"
    (onVersionDeleted)="onVersionDeleted()"
    [versionToDelete]="versionToDelete">
  </app-delete-version>
</app-modal>
