
  <div>
    <div class="card">
      <div class="ui-uat-ext-steps">
        <div class="ui-uat-ext-step ui-uat-ext-table-header">
          <div class="ui-uat-ext-step-description border-none width-full">Environment</div>
          <div class="ui-uat-ext-step-more"></div>
        </div>
        <div class="ui-uat-ext-step" *ngFor="let environment of environments; index as i">
          <div class="ui-uat-ext-step-expectedResults border-none width-full">{{environment.name}}</div>
          <div class="ui-uat-ext-step-more">
            <app-more-button-menu [actions]="actions" (onAction)="onAction($event, environment.environmentId)" class="flex justify-center right">
            </app-more-button-menu>
          </div>
        </div>
        <div class="ui-uat-ext-step no-pointer-events" *ngIf="environments.length==0">
          <div class="ui-uat-ext-step-expectedResults border-none width-full">No environments found</div>
        </div>
      </div>
      <div class="flex justify-between items-center btn-link-group">
        <div class="btn-group">
          <button (click)="toggleCreateModal()">Add environment</button>
        </div>
      </div>
    </div>
  </div>

<app-modal *ngIf="createModalOn" (closeModal)="cancel()"  [propClass]="'width-full'">
  <app-create-environment
    (cancel)="cancel()"
    (onEnvironmentSaved)="onEnvironmentSaved()"
    [environmentToEdit]="environmentToEdit"
    [productId]="product.productId">
  </app-create-environment>
</app-modal>

<app-modal *ngIf="deleteModalOn" (closeModal)="toggleDeleteModal()" >
  <app-delete-environment
    (cancel)="toggleDeleteModal()"
    (onEnvironmentDeleted)="onEnvironmentDeleted()"
    [environmentToDelete]="environmentToDelete"
    [productId]="product.productId">
  </app-delete-environment>
</app-modal>
