<div class="right-content">
  <div class="header">
    <h2>Product environments</h2>
  </div>
  <div>
    <div class="card">
      <h3>Product</h3>
      <div class="ui-uat-ext-step-expectedResults border-none text-bold">{{product?.name}}</div>
      <div class="spacer-1"></div>
      <div class="ui-uat-ext-step-description">{{product?.description}}</div>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="ui-uat-ext-steps">
        <div class="ui-uat-ext-step ui-uat-ext-table-header">
          <div class="ui-uat-ext-step-description border-none width-full">Name</div>
          <div class="ui-uat-ext-step-more"></div>
        </div>
        <div class="ui-uat-ext-step" *ngFor="let environment of environments; index as i">
          <div class="ui-uat-ext-step-expectedResults border-none width-full">{{environment.name}}</div>
          <div class="ui-uat-ext-step-more">
            <app-more-button-menu [actions]="actions" (onAction)="onAction($event, environment.environmentId)" class="flex justify-center">
            </app-more-button-menu>
          </div>
        </div>
        <div class="ui-uat-ext-step no-pointer-events" *ngIf="environments.length==0">
          <div class="ui-uat-ext-step-expectedResults border-none width-full">No environments found</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center btn-link-group">
    <a [routerLink]="['../product']" [skipLocationChange]="true" routerLinkActive="active">Back to Products</a>
    <div class="btn-group">
      <button (click)="toggleCreateModal()">Add environment</button>
    </div>
  </div>
</div>

<app-modal *ngIf="createModalOn" (closeModal)="toggleCreateModal()"  [propClass]="'width-full'">
  <app-create-environment
    (cancel)="toggleCreateModal()"
    (onEnvironmentSaved)="onEnvironmentSaved()"
    [environmentToEdit]="environmentToEdit">
  </app-create-environment>
</app-modal>

<app-modal *ngIf="deleteModalOn" (closeModal)="toggleDeleteModal()" >
  <app-delete-environment
    (cancel)="toggleDeleteModal()"
    (onEnvironmentDeleted)="onEnvironmentDeleted()"
    [environmentToDelete]="environmentToDelete">
  </app-delete-environment>
</app-modal>
