<div class="right-content">
  <div class="header">
    <h2>Projects</h2>
  </div>
  <div>
    <div class="card">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, quasi blanditiis possimus asperiores labore iste, ullam beatae sint a maxime repellat maiores pariatur impedit consequatur libero ipsum eveniet quas officia?</p>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="ui-uat-ext-steps">
        <div class="ui-uat-ext-step ui-uat-ext-table-header">
          <div class="ui-uat-ext-step-description border-none width-full">Name</div>
        </div>
        <div class="ui-uat-ext-step" *ngFor="let project of projects; index as i">
          <div class="ui-uat-ext-step-expectedResults border-none width-full cursor-pointer">{{project.name}}</div>
        </div>
        <div class="ui-uat-ext-step no-pointer-events" *ngIf="projects.length==0">
          <div class="ui-uat-ext-step-expectedResults border-none width-full">No project found</div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center btn-link-group">
    <div class="btn-group">
      <button (click)="toggleCreateModal()">Add project</button>
    </div>
  </div>
</div>

<app-modal *ngIf="createModalOn" (closeModal)="cancel()"  [propClass]="'width-full'">
  <app-create-project
    (cancel)="cancel()"
    (onProjectSaved)="onProjectSaved()"
    [projectToEdit]="projectToEdit">
  </app-create-project>
</app-modal>

<!-- <app-modal *ngIf="deleteModalOn" (closeModal)="toggleDeleteModal()" >
  <app-delete-projects
    (cancel)="toggleDeleteModal()"
    (onprojectsDeleted)="onprojectsDeleted()"
    [projectsToDelete]="projectsToDelete">
  </app-delete-projects>
</app-modal> -->
