<div class="right-content">
  <div class="header">
    <h2>Step #</h2>
  </div>
  <div class="flex">
    <div>
      <div>
        <div class="card ">
          <div class="">
            <div class="title-sm ">Descriprion: </div>
            <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </div>
          </div>
        </div>
        <div class="card ">
          <div class="">
            <div class="title-sm ">Expected result: </div>
            <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, recusandae cupiditate quia vitae quisquam excepturi iusto molestiae exercitationem voluptates provident nobis numquam, sequi corrupti nesciunt veritatis perspiciatis rem neque aliquid.</div>
          </div>
        </div>
        <div class="btn-group">
          <button class=""  data-listener="off" (click)="getScreenshot()" >
              <span>Screenshot</span>
          </button>
          <button class=""  data-listener="off"  >
              <span>Pass</span>
          </button>
          <button class="btn-danger"  data-listener="off"  >
              <span>Fail</span>
          </button>
      </div>
      </div>
    </div>
    <div class="screenshots-container">
      <ng-container *ngIf="step && step.screenshots">
        <ng-container *ngFor="let screenshot of step.screenshots; index as i">
          <app-screenshot [screenshot]="screenshot" (deleteScreenshot)="deleteScreenshot(i)" (edit)="edit(i)"></app-screenshot>
        </ng-container>
      </ng-container>
    </div>
  </div>

</div>
