<div class="right-content">
  <div class="header">
    <h2>Step #</h2>
  </div>
  <div>
    <div class="card ">
      <div class="case-title flex items-center">
        <span class="title-sm ">Case title: </span>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, recusandae cupiditate quia vitae quisquam excepturi iusto molestiae exercitationem voluptates provident nobis numquam, sequi corrupti nesciunt veritatis perspiciatis rem neque aliquid.</span>
      </div>
    </div>
    <div class="card ">
      <div class="case-title flex items-center">
        <span class="title-sm ">Case title: </span>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, recusandae cupiditate quia vitae quisquam excepturi iusto molestiae exercitationem voluptates provident nobis numquam, sequi corrupti nesciunt veritatis perspiciatis rem neque aliquid.</span>
      </div>
    </div>
  </div>
</div>
