<div class="right-content">
  <div class="header">
    <h2>Step #</h2>
  </div>
  <div class="flex">
    <div>
      <div>
        <div class="card ">
          <div class="">
            <div class="title-sm ">Descriprion: </div>
            <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </div>
          </div>
        </div>
        <div class="card ">
          <div class="">
            <div class="title-sm ">Expected result: </div>
            <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, recusandae cupiditate quia vitae quisquam excepturi iusto molestiae exercitationem voluptates provident nobis numquam, sequi corrupti nesciunt veritatis perspiciatis rem neque aliquid.</div>
          </div>
        </div>
        <div class="btn-group">
          <button class=""  data-listener="off"  >
              <span>Actual result</span>
          </button>
          <button class=""  data-listener="off"  >
              <span>Jira</span>
          </button>
          <button class=""  data-listener="off" (click)="getScreenshot()" >
              <span>Screenshot</span>
          </button>
          <button class=""  data-listener="off"  >
              <span>Pass</span>
          </button>
          <button class="btn-danger"  data-listener="off"  >
              <span>Fail</span>
          </button>
      </div>
      </div>
    </div>
    <div class="screenshots-container">
      <app-screenshot></app-screenshot>
    </div>
  </div>

</div>
