<div class="spacer-2"></div>
<div>
  <div class="">
    <div class="ui-uat-ext-steps">
      <div class="ui-uat-ext-step ui-uat-ext-table-header">
        <div class="ui-uat-ext-step-description border-none width-full">{{itemName}}</div>
      </div>
      <div class="ui-uat-ext-step" *ngFor="let item of items; index as i">
        <div class="ui-uat-ext-step-expectedResults border-none width-full">{{item?.name}}</div>
        <div class="">
          <input type="checkbox" name="jira">
        </div>
      </div>
      <div class="ui-uat-ext-step no-pointer-events" *ngIf="items.length==0">
        <div class="ui-uat-ext-step-expectedResults border-none width-full">No item found</div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center btn-link-group">
    <div class="btn-group">
      <button (click)="toggleCreateModal()">Creat {{itemName}}</button>
    </div>
  </div>
</div>

<app-modal *ngIf="createModalOn" (closeModal)="cancel()"  [propClass]="'width-full'">
  <app-create-device
    (cancel)="cancel()"
    (onDeviceSaved)="onDeviceSaved()">
  </app-create-device>
</app-modal>
